:root{
  --darkGreen: hsl(109, 33%, 37%);
  --mediumGreen: hsl(109, 33%, 85%);
  --lightGreen: hsl(109, 33%, 95%)
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.nav-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  text-align: justify;
  width: 100%;
  background-color: var(--lightGreen);
  padding: 0px;
  margin: 0;
  justify-content: space-around;
}

.navbar button{
  background: none;
  border: none;
  padding: 10px;
  font-family:system-ui;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--darkGreen) ;
}

.navbar button:hover{
  background-color: var(--mediumGreen);
}

/* Jobs Page styling */

.jobs-navbar{
  display: block;
  position: fixed;
  left: 0;
  height: 100%;
  background-color: var(--mediumGreen);
  width: 20%;
  color: var(--darkGreen);
  font-family: system-ui;
}

.jobs-navbar button{
  display: block;
  align-self: center;
  width: 100%;
  border: none;
  background:none;
  color: var(--darkGreen);
  padding: 10px;
}

.jobs-navbar button:hover{
  background-color: var(--darkGreen);
  color: black;
}